<div>
  <mat-toolbar role="toolbar" class="task-header">
    <!-- <mat-icon style="color: white;">account_circle</mat-icon> -->
    <div class="title">View Sub Entity  - {{viewSubEntitymetaData?.name}}</div>
  </mat-toolbar>
</div>
<mat-dialog-content class="mat-typography custom-dialog-content">
  <div class="row" style="padding-top: 15px;">
    <span *ngFor ="let data of viewSubEntitymetaData | keyvalue">
      <mat-form-field style="padding-left: 50px;">
        <mat-label class="text-capitalize">{{data.key}}</mat-label>
        <input readonly matInput autocomplete="false" value="{{data.value ? data.value: '-- --'}}">
      </mat-form-field>
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions" align="end">
  <button mat-button class="p-button" mat-dialog-close>CLOSE</button>
  <!-- <app-button-loading [btnData]="onload" (onSubmit)="handleChange($event)"></app-button-loading> -->
</mat-dialog-actions>