<div class="dashboard-content">

    <div>
        <h5 class="title" id="exampleModalLabel">Create Multiple User ID's</h5>
    </div>

    <div style="padding-left: 10px;">
        <p class="dfile">Kindly Download the excel file to create multiple id's </p>
        <div class="download">
            <a (click)="singleuser()">Download File Here</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" style="margin-top: 7%;">
            <span class="dashboard-icon ">
                <span class="dashboard-icon">
                    <mat-icon class="roundimg">people</mat-icon>
                </span>
                <h3 class="ftitle">Users Creation</h3>
            </span>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-4" style="margin-top: 2%;">
            <mat-card class="carddata">
                <div class="dropzone">
                    <input type="file" #fileDropRef (change)="filesBrowse($event.target.files)" id="fileDropRef"
                        multiple />
                    <span>
                        <mat-icon>cloud_upload</mat-icon>
                    </span>
                    <h3>Drag and Drop files here</h3>
                    <h3>or</h3>
                    <label for="fileDropRef">Browse files</label>
                </div>
            </mat-card>

            <div class="multiuserc" style="width:35%;margin-top: 10%;">
                <a (click)="singleuser()">Create</a>
            </div>
        </div>

        <div class="col-md-4">
        </div>
    </div>

</div>