
  <mat-toolbar role="toolbar" class="task-header">
      <mat-icon style="color: white;">people</mat-icon>
    <h5 class="title">Bulk Upload users</h5>
  </mat-toolbar>

<mat-dialog-content class="mat-typography">
  <!-- <h3 class="titlehead">Bulk Upload users</h3> -->
  <div class="row" style="padding-left: 15px;">
    <div>
      <div class="space">
        Add or edit users by uploading a CSV file with their info such as passwords and organisation units
        <a href="{{downloadurl}}" download>Learn More</a>
      </div>

      <div class="space">
        Note:
        Required Fields are FirstName, Last Name, Email Address, Password and Orgnisation.
      </div>
      <div class="upload-btn-wrapper">
        <button mat-button class="btn">ATTACH CSV</button>
        <input type="file" name="myfile" />
      </div>
      <!-- <input class="space" type="file" id="file" enctype="multipart/form-data"
        (change)="handleFileInput($event.target.files)" accept=".csv"> -->
      <div class="space">
        <h3>Not sure how to get started?</h3>
      </div>
      <div class="space">
        Download a CSV file, then edit and upload the file.
      </div>
      <!-- <div class="space">
        * Download blank <a href="{{downloadurl}}" download>CSV template</a>.
      </div> -->
    </div>
  </div>
  <!-- </div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button mat-button color="primary" (click)="uploadUsersCSVFile()" cdkFocusInitial>UPLOAD</button>
</mat-dialog-actions>