@import "../../assets/scss/variables.scss"; 
.space {
    padding: 15px;
}
.atext{
  text-align: right;
}

.active {
  border-bottom: 3px solid $primary-color;
}



.cgap{
  padding-left: 20%;
}
.cgap2 {
  padding-left: 20%;
}
.head {
  padding: 7px 10px 0px 10px;
  border-bottom: 1px  solid $primary-color;
}
.b-color{
background-color: $white-color;
color: $white-color;

}
.c-mat{
  margin-right: 5px;
}
.Button
    {
        margin:15px;
    }

  //  .mat-form-field-underline {
  //     display: none !important;
  // }

 
    // .mat-form-field-appearance-fill .mat-form-field-underline::before {
    //   height: 0px !important;
    // }
    
