<!-- <mat-toolbar> -->

<div class="row" style="padding:25px">
  <div class="col-md-6 col-sm-4">
    <img width="30%" (click)="sidemenu()" alt="Angular Logo" src="assets/images/shikshalokam.png" />
  </div>

  <div class="col-md-4 col-sm-8" style="padding-top: 10px;">
    <div>

    </div>
    <div class="row font-weight-bold">
      <!-- <span *ngFor="let link of menuarray">
        <div class="col-md-12">
          <span [routerLinkActive]="['active']">
            <a routerLink="{{link.anchorLink}}">{{link.value}}</a>
            <a [routerLink]="['/single-user']"> </a>
            <a [routerLink]="['/multi-users']"></a>
          </span>
        </div>
      </span> -->
      <div class="col-md-3">
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">
          Home</a>
      </div>
      <div class="col-md-4">
        <span [routerLinkActive]="['active']">
          <a [routerLink]="['/users']">
            Create Users</a>
          <a [routerLink]="['/single-user']"> </a>
          <a [routerLink]="['/multi-users']"></a>
        </span>
      </div>
      <div class="col-md-5">
        <a [routerLink]="['/unauthorized']" [routerLinkActive]="['active']">
          Assign Users</a>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-12 atext row">
    <div class="col-md-4">
      <button matTooltip="Search" mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="col-md-4">
      <button matTooltip="Notifications" mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>notifications</mat-icon>
      </button>
    </div>

    <div class="col-md-2">
      <button matTooltip="Profile" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>{{username}}</span>
        </button>
        <button mat-menu-item>
          <span (click)="logout()">Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<!-- </mat-toolbar> -->