@import "../../assets/scss/variables.scss"; 
.space {
    padding: 15px;
}
.atext{
  text-align: right;
}

.active {
  border-bottom: 3px solid $primary-color;
}

a {
  color: $black-color;
}

.custom-gap{
  padding-left: 20%;
}
