<div class="pageName">
  <span *ngFor="let data of crumData['title']">
    <a class="negative" [routerLink]="[data.link]"> {{data.name}}</a>
  </span> >
  <span class="text-capital">{{editOrganisationDetails?.name}}
  </span>
</div>

<div class="dashboard-content">
  <div style="display: flex;">
    <mat-card class="profile-card" style="border-radius: 0px;">
      <mat-card-content>
        <div style="display: flex;">
          <mat-icon class="c-mat-icon">account_balance</mat-icon>
          <div class="wrapping">
            <div class="text-capital">
              <h4> {{editOrganisationDetails?.name}}</h4>
            </div>
            <div>
              {{editOrganisationDetails?.channel}}
            </div>
            <div class="positive">
              Active
            </div>

            <!-- <div *ngIf="editUserDetails?.status === 0" class="negative">
                In active
              </div> -->

            <div class="text-color">
              Created on: {{editOrganisationDetails?.createdDate | date:'medium'}}
            </div>
          </div>

        </div>
      </mat-card-content>
      <div class=" row c-line"></div>
      <div class="row" style="padding:10px">
        <div matTooltip="Deactivate Organisation" class="col-md-12 profile-actions-icon" (click)="confirmDialog()">
          <span>
            <mat-icon class="negative">edit</mat-icon>
          </span>
          <span class="profile-actions-text negative">DEACTIVATE ORGANISATION</span>
        </div>

        <!-- <div *ngIf="editUserDetails?.status === 0" matTooltip="Activate user" class="col-md-9 profile-actions-icon"
            (click)="activateDialog()">
            <span>
              <mat-icon class="positive">edit</mat-icon>
            </span>
            <span class="profile-actions-text positive">ACTIVATE USER</span>
          </div> -->

      </div>
    </mat-card>
    <div class="user-details">
      <mat-accordion>
        <mat-expansion-panel class="c-accordian-width" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="c-font">
              Organisation information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <div *ngIf="editUserDetails" class="row">
            <div class="col-md-3">
              <div class="text-color">
                <mat-label>First Name</mat-label>
              </div>
              <div>
                {{editUserDetails?.firstName ? editUserDetails.firstName : '-- --'}}
              </div>
            </div>

            <div class="col-md-3">
              <div class="text-color">
                <label>Last Name</label>
              </div>
              <div>
                {{editUserDetails?.lastName ? editUserDetails.lastName: '-- --'}}
              </div>

            </div>

            <div class="col-md-3">
              <div class="text-color"> <label>Date of Birth </label></div>
              <div>
                {{editUserDetails?.dob ? editUserDetails.dob: '-- --'}}
              </div>
            </div>

            <div class="col-md-3">
              <div class="text-color">
                <label>Gender </label>
              </div>
              <div>
                {{editUserDetails?.gender ? editUserDetails.gender: '-- --'}}
              </div>

            </div>
          </div> -->
          <!-- <div class="row" style="padding-top:15px">
              <div class="col-md-3">
                <label>User Name</label>
                <input matInput disabled value="{{editUserDetails?.userName ? editUserDetails.userName: '-- --'}}">
              </div>
  
              <div class="col-md-3">
                <label>Email</label>
                <input matInput disabled type="text" value="{{editUserDetails?.email ? editUserDetails.email: '-- --'}}">
              </div>
  
              <div class="col-md-3">
                <label>Phone Number</label>
                <input matInput disabled value="{{editUserDetails?.phoneNumber ? editUserDetails.phoneNumber: '-- --'}}">
              </div>
            </div> -->

        </mat-expansion-panel>
        <mat-expansion-panel class="c-accordian-width" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="c-font">
              Organisation Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <div *ngIf="editUserDetails" class="row">
            <div class="col-md-3">
              <div class="text-color">
                <mat-label>First Name</mat-label>
              </div>
              <div>
                {{editUserDetails?.firstName ? editUserDetails.firstName : '-- --'}}
              </div>
            </div>

            <div class="col-md-3">
              <div class="text-color">
                <label>Last Name</label>
              </div>
              <div>
                {{editUserDetails?.lastName ? editUserDetails.lastName: '-- --'}}
              </div>

            </div>

            <div class="col-md-3">
              <div class="text-color"> <label>Date of Birth </label></div>
              <div>
                {{editUserDetails?.dob ? editUserDetails.dob: '-- --'}}
              </div>
            </div>

            <div class="col-md-3">
              <div class="text-color">
                <label>Gender </label>
              </div>
              <div>
                {{editUserDetails?.gender ? editUserDetails.gender: '-- --'}}
              </div>

            </div>
          </div> -->
          <!-- <div class="row" style="padding-top:15px">
                <div class="col-md-3">
                  <label>User Name</label>
                  <input matInput disabled value="{{editUserDetails?.userName ? editUserDetails.userName: '-- --'}}">
                </div>
    
                <div class="col-md-3">
                  <label>Email</label>
                  <input matInput disabled type="text" value="{{editUserDetails?.email ? editUserDetails.email: '-- --'}}">
                </div>
    
                <div class="col-md-3">
                  <label>Phone Number</label>
                  <input matInput disabled value="{{editUserDetails?.phoneNumber ? editUserDetails.phoneNumber: '-- --'}}">
                </div>
              </div> -->

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>