<mat-toolbar role="toolbar" class="task-header">
  <h5 class="title">Confirmation</h5>
</mat-toolbar>
<mat-dialog-content class="mat-typography" style="padding-top: 30px">
    <p>{{message}}</p>

</mat-dialog-content>
<mat-dialog-actions *ngIf ="title == 'Confirm Action'" class="custom-dialog-actions" align="center">
  <button mat-button (click)="onDismiss()">No</button>
  <button mat-button class="actions" (click)="onConfirm()">Yes</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf ="title == 'upload'" class="custom-dialog-actions" align="center">
  <button mat-button class="p-button" (click)="onDismiss()">Ok</button>
</mat-dialog-actions>