@import "../../../../assets/scss/variables.scss";
.task-header {
  background-color: $primary-color;
}
// .custom-dialog-actions {
//   padding-left: 10px;
// }

.task-header {
  background-color: $primary-color;
}


.custom-dialog-content {
  display: block;
  margin: 0px;
  padding: 0 24px;
  max-height: 65vh;
  overflow: auto;
}

.custom-dialog-actions {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  // padding-right: 42px;
  margin-bottom: 16px;
}