<div class="pageName">
  Users > {{editUserDetails?.firstName}} {{editUserDetails?.lastName}}
</div>

  <div class="dashboard-content">
    <div style="display: flex;">
      <mat-card class="profile-card">
        <mat-card-content>
          <div style="display: flex;">
            <mat-icon style="font-size: 70px;padding-right: 80px;">account_circle</mat-icon>
            <!-- <img class="thumbnail-image" src="../../../../assets/images/profile.jpeg"
                onerror="this.src='../../../../assets/images/profile.jpeg';" alt="..." /> -->
            <div>
              <div class="text-capital">
                <h3> {{editUserDetails?.firstName}} {{editUserDetails?.lastName}}</h3>
              </div>
              <div>
                a1@shikshalokamdev
              </div>
              <div *ngIf="editUserDetails?.status === 1" style="color: green;">
                Active
              </div>

              <div *ngIf="editUserDetails?.status === 0" style="color: brown">
                In active
              </div>

              <div class="text-color">
                Last Sign in : About 2 hours ago
              </div>
              <div class="text-color">
                Created: April 21, 2020
              </div>
            </div>

          </div>
        </mat-card-content>
        <!-- <div class="c-line"></div> -->
        <div class="row user-org c-line">
          <!-- <div class="col-md-10">
            <div class="text-color c-font">Organisational Unit</div>
            <div class="c-font">Shikshaloakam.org</div>
          </div> -->
        </div>

        <div class="row c-line" style="padding:10px">
          <div matTooltip="Reset Password" class="col-md-9 profile-actions-icon" (click)="reset()">
            <span>
              <mat-icon>lock</mat-icon>
            </span>
            <span class="profile-actions-text"> RESET PASSWORD</span>
          </div>
          <div *ngIf="editUserDetails?.status === 1" matTooltip="Inactivate user" class="col-md-9 profile-actions-icon"
            (click)="confirmDialog()">
            <span>
              <mat-icon style="color: brown;">edit</mat-icon>
            </span>
            <span style="color: brown;" class="profile-actions-text">INACTIVATE USER</span>
          </div>

          <div *ngIf="editUserDetails?.status === 0" matTooltip="Activate user" class="col-md-9 profile-actions-icon"
            (click)="confirmDialog()">
            <span>
              <mat-icon style="color: green;">edit</mat-icon>
            </span>
            <span style="color: green;" class="profile-actions-text">ACTIVATE USER</span>
          </div>

        </div>
      </mat-card>
      <div class="user-details">
        <mat-accordion>
          <mat-expansion-panel class="c-accordian-width" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                User information
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput disabled value="{{editUserDetails?.firstName}}">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label> last Name</mat-label>
                  <input matInput disabled type="text" value="{{editUserDetails?.lastName}}">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Date of Birth</mat-label>
                  <input matInput disabled [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <input matInput disabled type="text" value="{{editUserDetails?.gender}}">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>User Name</mat-label>
                  <input matInput disabled value="">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput disabled type="text" value="">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Phone Number</mat-label>
                  <input matInput disabled value="">
                </mat-form-field>
              </div>

            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="user-details-card">
          <mat-accordion>
            <mat-expansion-panel class="c-accordian-width" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Organisation and Roles
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Organisation</mat-label>
                   <input matInput >
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Roles</mat-label>
                    <input matInput >
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions align="end">
                <button mat-button class="edit-button" (click)="editRoles()" cdkFocusInitial>Edit</button>
              </mat-card-actions>
            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </div>
    </div>
  </div>