<mat-toolbar role="toolbar" class="task-header">
  <div class="title">Upload Confirmation</div>
</mat-toolbar>

<mat-dialog-content class="mat-typography custom-dialog-content">
  <div style="padding: 10px">
    {{message}}
  </div>
  <div class="ref">
    <input class="refnum" #userinput type="text" matInput readonly value="{{refId}}">
    <button style="cursor: pointer;" (click)="copyInputMessage(userinput)" mat-icon-button matPrefix>
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="custom-dialog-actions" align="end">
  <button mat-button mat-dialog-close>OK</button>
  <button mat-button class="p-button" (click)="toCheckStatus()">GO TO UPLOADS</button>
</mat-dialog-actions>