<mat-form-field *ngIf="field.visible" class="form-full-width margin-top" [formGroup]="group">
    <mat-label class="required">{{field.label}}</mat-label>
    <mat-select style="padding-left: 30px;" [formControlName]="field.field" multiple>
        <mat-option *ngFor="let item of field.options" [value]="item">{{item.label}}</mat-option>
    </mat-select>
    <ng-container *ngFor="let validation of field.validation;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.field).hasError(validation.name)">{{validation.message}}</mat-error>
    </ng-container>
</mat-form-field>

<!-- <mat-form-field *ngIf="field.visible" class="form-full-width margin-top" [formGroup]="group">
    <mat-label class="required">{{field.label}}</mat-label>
    <input type="text" aria-label="Number" (keyup)="OnInput($event)" matInput [formControlName]="field.field"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of finaldata" [value]="selectedUsers">
            <div (click)="optionClicked($event, item)">
                <mat-checkbox [checked]="item.selected" (change)="toggleSelection(item)"
                    (click)="$event.stopPropagation()">
                    {{item.label}}
                </mat-checkbox>
            </div>
        </mat-option>
    </mat-autocomplete>
    <ng-container *ngFor="let validation of field.validation;" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.field).hasError(validation.name)">{{validation.message}}</mat-error>
    </ng-container>
</mat-form-field> -->

<!-- <mat-form-field class="multi-select-combo-box-example-form"  [formGroup]="group">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Roles" matInput #searchInput [formControlName]="field.field" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onFruitSelectionChange($event)">
        <mat-option [id]="'multi-select-mat-option-'+ fruit.label.toLowerCase()" *ngFor="let fruit of filtereddata | async"
            [value]="fruit">
            <mat-pseudo-checkbox class="multi-select-pseudo-checkbox"
                [state]="isFruitSelected(fruit.label) ? 'checked' : 'unchecked'">
            </mat-pseudo-checkbox>
            <span class="multi-select-option-text">{{fruit.label}}</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->