<div>
  <mat-toolbar role="toolbar" class="task-header">
    <h5 class="title" id="exampleModalLabel">Add New User</h5>
  </mat-toolbar>
</div>
<mat-dialog-content style="padding-top: 20px;" class="mat-typography">
  <!-- <h3 class="titlehead">User Info</h3> -->
  <div class="row" >
    <!-- <div class="col-md-3 imagegap">
      <span class="dashboard-icon">
        <mat-icon class="roundimg">person</mat-icon>
      </span>
      <h3 class="ftitle">User Creation</h3>
    </div> -->
    <div style="padding-left: 37%;">
      <mat-spinner *ngIf="loading == false"></mat-spinner>
    </div>
    <dynamic-form *ngIf="loading" [fields]="fieldsbackend" (submit)="submit($event)">
    </dynamic-form>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>ADD NEW USER</button>

  <!-- <button mat-button class="btn btn-primary" mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" class="btn btn-primary" cdkFocusInitial>Add New user</button> -->
</mat-dialog-actions>