<mat-toolbar role="toolbar" class="task-header">
  <h5 class="title" id="exampleModalLabel">Create Single User ID</h5>
  <span class="fx-spacer"></span>
  <button mat-icon-button (click)="close()">
    <mat-icon mat-list-icon style="color: antiquewhite;">close</mat-icon>
  </button>
</mat-toolbar>
<h3 class="titlehead">User Info</h3>
<div class="row">
  <div class="col-md-2 imagegap">
    <span class="dashboard-icon">
      <mat-icon class="roundimg">person</mat-icon>
    </span>
    <h3 class="ftitle">User Creation</h3>
  </div>

  <div class="col-md-6">
    <dynamic-form *ngIf="loading" [fields]="regConfig" (submit)="submit($event)">
    </dynamic-form>
    <div style="padding-top: 10px">
      <button type="button" (click)="onSubmit()" class="btn btn-primary">Create</button>
    </div>
  </div>

</div>