<p>
  organisation and roles
</p>

<div class="user-details-card">
  <mat-card *ngFor="let data of userData.organisations; let i = index">
    <mat-card-content>
      <mat-card-actions>
        <div style="display: flex;justify-content: space-between;">
          <div>
            {{data.label}}
          </div>
          <div>
            <button mat-button class="edit-button" (click)="makeEnable = !makeEnable" cdkFocusInitial>Edit</button>
            <button mat-button class="edit-button" (click)="deleteRoles()" cdkFocusInitial>Delete</button>
          </div>
        </div>
      </mat-card-actions>

      <mat-accordion>
        <mat-expansion-panel class="c-accordian-width" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{data.label}} Roles
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Role selection">
                  <mat-chip *ngFor="let role of data.roles" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(role, i)">
                    {{role.label}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input id="chip-input_{{i}}" [disabled]="makeEnable ? 'true': 'false'" placeholder="Roles" #roleInput
                    [formControl]="roleCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event, i)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                    {{role.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>