<div class="dashboard-content">
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-2">
        </div>

        <div class="col-md-4">

            <mat-card class="example-card">
                <mat-card-content>
                    <div class="design-custom">
                        <div class="roundimg">
                            <mat-icon class="mat-icon-custom">person</mat-icon>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <div class="g-title">
                        <a (click)="singleuser()">Create Single user</a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">


            <mat-card class="example-card">
                <mat-card-content>
                    <div class="design-custom">
                        <div class="roundimg">
                            <mat-icon class="mat-icon-custom">people</mat-icon>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <div class="g-title">
                        <a (click)="multiuser()">Create Multiple users</a>
                    </div>
                </mat-card-actions>
            </mat-card>

            <div class="col-md-1">
            </div>
        </div>
    </div>