@import "../../../../assets/scss/variables.scss";

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .panel {
      cursor: pointer;
  }
  // .tool-bar{
  //     background-color: $primary-color;
  // }
  .btn-gap{
    padding: 20px;
  }

  th.mat-header-cell {
    border-bottom-style: none;
  }
  td.mat-cell {
    border-bottom-style: none;
  }

  .mat-toolbar {
    color: $primary-color;
    font-size: initial;
  
  }
  .mat-button {
    font-weight: 600;
  }
  .home {
    cursor: pointer;
    padding-top: 8px;
  }
  .pagename {
    background-color: white;
    padding: 6px 10px 4px 25px;
    color: $primary-color;
  }

  .actions{
    color: $primary-color;
  }
