@import "../../../../assets/scss/variables.scss";
.task-header {
  background-color: $primary-color;
}
.mat-dialog-actions {
  padding-right: 42px;
  margin-bottom: 16px;
}

.actions {
  background: #bababa;
}
