<div>
  <mat-toolbar role="toolbar" class="task-header">
    <mat-icon style="color: white;">account_circle</mat-icon>
    <div class="title">Add User</div>
  </mat-toolbar>
</div>
<mat-dialog-content class="mat-typography custom-dialog-content">
  <div class="row">
    <dynamic-form [fields]="formdata">
    </dynamic-form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions" align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <app-button-loading [btnData]="onload" (onSubmit)="onSubmit()"></app-button-loading>
</mat-dialog-actions>